.dashboard-container{
    background-color: #1c1d1f;
}

.dashboard-title{
    height: 5vh;
    padding-left: 2vw;
    background: #222;
    box-shadow: 2px 8px 16px rgba(0 , 0, 0, 0.5);
}

.dashboard-title p{
    display: inline-block;
    line-height: 5vh;
    color: #eee;
    font-size: 24px;
    letter-spacing: 3px;
}

.dashboard-button {
    height: 3vh;
    color: #bb731c;
    font-size: 18px;
    letter-spacing: 2px;
    float: right;
    margin: 1vh 2vw 0 0;
    border: none;
    cursor: pointer;
    background-color: #222;
}

.charts-container{
    height: 95vh;
    width: 100%;
}

.ground-info{
    height: 100%;
    width: 100%;
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
}

.satellite-info{
    height: 100%;
    width: 100%;
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
}

.chart-list-up{
    height:50%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.chart-list-bottom{
    height:50%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.subtitle{
    width: 98vw;
    height:6%;
    color: #eee;
    font-size: 18px;
    letter-spacing: 2px;
    margin-left: 2vw;
    font-weight: bold;
}

.chart-list {
    height: 90%;
    width: 98vw;
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
}