.cesium-button {
    background: #303336;
    border: 1px solid #444;
    color: #edffff;
    fill: #edffff;
    border-radius: 4px;
    padding: 5px 12px;
    margin: 10px 10px;
    cursor: pointer;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline:0 none !important;
    z-index:999;
}
.cesium-button:focus,
.cesium-button:active:focus,
.cesium-button.active:focus,
.cesium-button.focus,
.cesium-button:active.focus,
.cesium-button.active.focus{
    outline: none;
    border-color: transparent;
    box-shadow:none;
}
#toolbar{
    width: 100vw;
    height: 3vh;
    margin-top: 5px;
    position: absolute;
    padding-top: 1px;
    background-image: url("../assets/top.png");
    background-position: center;
    z-index: 999;
}
#satellite{
    height: 15vh;
    right: 2px;
    top: 10vh;
    width:20vw;
    background:rgba(0,0,0,0);
    position:absolute;
    z-index:999;
}
#satelliteList {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10.5vw;
    height: 80vh;
    padding-top: 5vh;
    padding-left: 10px;
    z-index: 999;
}

#title {
    color: #fff;
    position: absolute;
    z-index: 999;
    left: 50%;
    color: #08acbd;
    letter-spacing: 2px;
    font-size: 32px;
    transform: translate(-50%);
}

.btnSelected{
    background:#4488bb
}
.cesium-viewer-bottom{
    display: none !important;
}