.allBack{
  height: 100vh;
  width: 100vw;
  background-color: rgb(0,0,0);
  overflow: hidden;
}

.title{
  height: 6vh;
  width: 100vw;
}
.content{
  height: 94vh;
  width: 100vw;
}
.Left{
  height: 94vh;
  width: 20vw;
  float: left;
}
.useTime{
  height: 31vh;
  width: 100%;
  margin-top: 10px;
}

.useMap{
  height: 90vh;
  width: 60vw;
  float: left;
  margin-top: 10px;
}
.right{
  height: 94vh;
  width: 20vw;
  float: left;
}
.useRank{
  height: 47vh;
  width: 100%;
  float: left;
  margin-top: 10px;
}

.useRegionMap{
  height: 31vh;
  width: 100%;
  float: left;
  margin-top: 10px;
} 