.allBack{
  height: 100vh;
  width: 100vw;
  background-color: rgb(0,0,0);
  overflow: hidden;
}

.title{
  height: 6vh;
  width: 100vw;
}
.content{
  height: 94vh;
  width: 100vw;
}
.Left{
  height: 94vh;
  width: 23vw;
  float: left;
  margin-left: 20px;
}
.useTime{
  height: 31vh;
  width: 23vw;
  margin-top: 10px;
}

.useMap{
  height: 90vh;
  width: 50vw;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
.right{
  height: 94vh;
  width: 23vw;
  float: left;
  margin-left: 10px;
}
.useRank{
  height: 47vh;
  width: 23vw;
  float: left;
  margin-top: 10px;
}
.useRegionMAp{
  height: 31vh;
  width: 23vw;
  float: left;
  margin-top: 10px;
} 
.useRegionMAp{
  height: 31vh;
  width: 23vw;
  float: left;
  margin-top: 10px;
} 